/* Sayfa düzeni */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

/* Ana kapsayıcı */
div {
  text-align: center;
}

/* Başlık stili */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Arama alanı stili */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.search-container button {
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #495549;
}

/* Buton kapsayıcıları */
div > div {
  margin: 10px 0;
}

/* Buton stili */
button {
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #405e41;
}

/* Link stilleri */
a {
  text-decoration: none;
}
